*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
}

.headlogo{
    margin: 8px 8px;
    padding: 0;
    align-items: center;

}

#login{

    margin: 10px;
    height: fit-content;
padding: 10px 20px;
color: white;
background-color: rgb(240, 178, 8);
border: 2px solid rgb(240, 178, 8);
border-radius: 4px;
cursor: pointer;
}


.main{
    display: flex;
}

.card-group{
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

input{
   
    height: 30px;
    width:350px;
    padding: 10px;
}

.span1{
    color: rgb(62, 62, 248);
}


.card-group p{
    text-align: center;
    font-size: 15px;
}

.navbar{
    background-color: #151515;
    color: white;
    
}
.navbar-nav
{
    justify-content: space-around;
}

.navbar-nav .nav-item a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}




.div1{
    display: flex;
    justify-content: center;
}


.btn1{
    
    height: fit-content;
    width: fit-content;
padding: 10px 20px;
color: white;
background-color: rgb(240, 178, 8);
border: 2px solid rgb(240, 178, 8);
border-radius: 4px;
}

.btn2{
    height: fit-content;
    width: fit-content;
padding: 10px 20px;
color: white;
background-color:#151515;
border: 2px solid #151515;
border-radius: 4px;
cursor: pointer;
}

.map{
    height:450px;
    width: 45%;
     
}
.home1{
    width: 100%;
    color: white;
    font-weight: 900;
    font-size: 80px;
    text-align: center;
}

.para{
    text-align: justify;color: white; margin-top: 40px;margin: 60px;
}

#head1{
    color: white; font-size: 55px;text-align: center;font-weight: 900;
}
#head2{
    text-align: center;font-size: 18px;font-weight: 700;color: white;
}

.card1{
    margin: 20px;
    
    width: 400px;
}



@media only screen and (max-width: 800px){

    .main{
        display: block;

    }

    .map{
        margin: 20px;
        width: 80%;
    }

    .home1{
        text-align: center;
        font-size: 40px;
    }

    .para{
        margin: 30px;
    }
    .card-group{
        margin-top: 30%;
        margin-left: 50px;
        margin-right: 50px;
        
    }

    .signout{
        margin: 0;
    }

    .card1{
        margin: 20px;
        
        width: 350px;
    }
    input{
   
        height: 30px;
        width:300px;
        
    }

    .in{
        width: 120px;
    }

    .div1{
        display: block;

    }

    #head1{
        font-size: 40px;
        text-align: center;

    }

    #head2{
        font-size: 12px;
        text-align: center;

    }

    .home2{
        text-align: center;
    }
 
}